@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 17px;
  min-height: 100vh;
  min-height: 100svh;
  font-family: monospace;
  @apply flex flex-col items-center justify-between gap-5 p-5;
}
