@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 17px;
  min-height: 100vh;
  min-height: 100svh;
  font-family: monospace;
  @apply bg-black text-gray-300 flex flex-col items-center justify-start gap-5 p-2 md:p-5;
}
